@{
    ViewData["Title"] = "Index";
}

<h1>Employee</h1>

<form method="post" asp-controller="Home" asp-action="Logout">
    <button class="btn btn-info">Logout</button>
    <a class="btn btn-info" asp-action="TestRoleAuth" asp-controller="Employee">Test Role Auth.</a>
</form>

